@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+JP:wght@200&display=swap');

body{
    margin: 0;
	font: 14px/1.9;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
    font-family: 'Lora','Noto Serif JP', serif;
	color: #68483F;
	background: linear-gradient(to right, #DDFFF6, #FFF9C3);
    max-width: 100%;
    padding: 0 100px 50px;
}



/*見出し設定-------------------------------------*/

h1, h2, h3, h4{
    font-weight: normal;
}

/*URL設定-------------------------------------*/

a {
    text-decoration: none;
    color: #006633;
}

a:hover{
    color: #68483F;
}



/*navの設定----------------------------------*/
nav{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #68483F;
    }

nav ul{
    margin: 0;
    padding: 0;
    }

nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    }

nav ul li a{
    text-decoration: none;
    }

nav ul li a:hover{
    color: #E7DA66;
    }


/*header設定-------------------------------------*/
header{
    background: linear-gradient(to right, #DDFFF6, #FFF9C3);
    margin: auto;
    text-align: center;
    width:100%;
    height:600px;
    border-bottom: 1px solid #68483F;
}

header img{
    width: 450px;
    height: 250px;
    object-position: 0% 50%;
    border-radius: 200px  200px 100px 100px;
}


.midasi{
    margin-top: 75px;
}

/*目次の設定---------------------------------*/
.mokuji {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #68483F;
}

.mokuji1{
    width: calc(100% /10 * 4);
    text-align: center;
}

.gazou1{
    width: 50%;
}

.gazou2{
    width: 30%;
    margin-top: -100px;
}

.mokuji2{
    width: calc(100% /10 * 6);
    padding: 20px 100px 20px;
}

.mokuji2 li{
    display: flex;
    align-items: center;
}

.mokuji2 a, .mokuji2 p{
    box-sizing: border-box;
    text-align: center
}

.mokuji2 p{
    width: 50%;
}

.botan {
    width: 150px;
    padding: 10px 3px;
    background: #BCACA5;
    color: #68483F;
    border-radius: 10px;
}

.botan:hover{
    background: #68483F;
    color: #BCACA5;
    
}

/*終わりの設定-------------------------------*/

.last{
    display: flex;
    max-width: 100%;
    padding-top: 200px;
}

.last img {
    width: calc(100% / 3);
    height: auto;
    object-fit: cover;
  }

.matome {
    padding: 30px 0 15px;
    text-align: center;
}

/*表の設定-----------------------------------*/
table{
    border:solid 1px black;
    border-collapse: collapse;
}

table th {
    padding: 3px 10px;
    text-align: left;
  }
  
table td {
    padding: 3px 10px;
  }

.yarukoto {
    padding: 20px;
}

  /*横並び----------------------------------*/
  .hyou{
    display: flex;
  }

  /*画像　ocean感想*/
  .ocean{
    border-radius: 40px;
  }

  /*見出しデザイン------------------------------*/

  .manabi{
    display:flex;
    align-items: center;
  }
  
  .manabi::before{
    content: "";
    border-top: 1px solid #68483F;
    width: 3rem;
  }

  .manabi::after{
    content: "";
    border-top: 1px solid #68483F;
    flex-grow:1;
  }
  
  .manabi:before {
    margin-right: 1rem; 
  }
  .manabi:after {
    margin-left: 1rem; 
  }
